@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Welcome to AuthUI</h1>
    <p class="lead">Your gateway to seamless authentication. Please log in or register to get started.</p>
    
</div>